# fly.toml app configuration file generated for cashlet-api-server on 2025-11-16T00:27:49Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cashlet-api-server'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
